<!-- komentarz -->

<ol>
  <li>Dad's interests
    <ul>
      <li>football</li>
      <li>knitting</li>
    </ul>
  </li>
  <li>Mom's interests
    <ul>
      <li>hating football</li>
      <li>skydiving</li>
    </ul>
  </li>
</ol>

<ol>
  <li> piko w oko</li>
  <li> ala ma kota</li>
</ol>

<p style="font-size: 10px">
  Alez cudacznie
</p>

<h1 style="color: black; font-size:16px; font-family: Arial">Big Heading</h1>
<p style="font-size:20px; color: blue; font-family: Arial">A truly spectacular paragraph!</p>

<div style="background-color: brown;">
  <h3>Favorite Football Teams</h3>
  <ol style="background-color: yellow;">
    <li>The Hawthorn Football Club</li>
    <li>San Franscisco 49ers</li>
    <li>Barcelona FC</li>
  </ol>
</div>

</br>

<p>No I don't. I'm <strong>too</strong> busy eating cake.</p>

<div>
  <img src="http://s3.amazonaws.com/codecademy-blog/assets/da840950.jpg"/>

  <p>I'm male, 89 years old, and am a giant, Empire State Building-climbing ape.</p>
  <ul>
    <li><p style="color:red">Interests</p>
      <ul>
        <li style="font-family:Futura">Bananas</li>
        <li style="font-family:Futura">Climbing stuff</li>
        <li style="font-family:Futura">HTML</li>
      </ul>
    </li>
    <li><p style="color:red">Jobs</p>
      <ol>
        <li style="font-family:Futura">Giant ape</li>
        <li style="font-family:Futura">Web developer</li>
      </ol>
    </li>
    <li><p style="color:red">Where I Went to School</p>
      <ol>
        <li style="font-family:Futura">Diddy Kong Jr. High School</li>
        <li style="font-family:Futura">Donkey Kong Sr. High School</li>
        <li style="font-family:Futura">Harvard University (BA)</li>
        <li style="font-size:18px; font-family:Futura">Yale University (JD) (Current)</li>
      </ol>
    </li>
    <li><p style="color:red">Favorite Quotes</p>
      <ul>
        <li style="font-family:Futura">"If at first you don't succeed, climb a giant building."</li>
        <li style="font-family:Futura">"A banana in the hand is worth two on the tree."</li>
      </ul>
    </li>
  </ul>
</div>

<div>
  <a href="website address for link">
    <img src="http://s3.amazonaws.com/codecademy-blog/assets/da840950.jpg"/> </a>
</div>

<div>
  <table border="1px">
    <tr>
      <td>One</td>
      <td>Two</td>
    </tr>

    <tr>
      <td>One</td>
      <td>Two</td>
    </tr>

    <tr>
      <td>One</td>
      <td>Two</td>
    </tr>
  </table>
</div>


<div>
  <body>
  <table border="1px">
    <thead>
    <th>Famous Monsters</th>
    <th>Birth Year</th>
    </thead>
    <tbody>
    <tr>
      <td>King Kong</td>
      <td>1933</td>
    </tr>
    <tr>
      <td>Dracula</td>
      <td>1897</td>
    </tr>
    <tr>
      <td>Bride of Frankenstein</td>
      <td>1935</td>
    </tr>
    </tbody>
  </table>
  </body>
</div>




<div>
  <table border="1px solid grey">
    <thead>
        <th>Farmerzy</th>
        <th>Producenci</th>
    </thead>
        <tbody>
            <tr>
              <td>William</td>
              <td>Wielki</td>
            </tr>
            <tr>
              <td>Maniek</td>
              <td>Wiekszy</td>
            </tr>
        </tbody>

  </table>
</div>




<div>
  <head>
    <title>Table Time</title>
  </head>

  <body>

  <table style="border-collapse:collapse;">
    <thead>
    <tr>
      <th colspan="2"; style="color:red">Famous Monsters by Birth Year</th>
    </tr>
    <tr style="border-bottom:1px solid black;">
      <th style="padding:5px;"><em>Famous Monster</em></th>
      <th style="padding:5px;border-left:1px solid black;"><em>Birth Year</em></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="padding:5px;">King Kong</td>
      <td style="padding:5px;border-left:1px solid black;">1933</td>
    </tr>

    <tr>
      <td style="padding:5px;">Dracula</td>
      <td style="padding:5px;border-left:1px solid black;">1897</td>
    </tr>

    <tr>
      <td style="padding:5px;">Bride of Frankenstein</td>
      <td style="padding:5px;border-left:1px solid black;">1944</td>
    </tr>
    </tbody>
  </table>
  </body>
</div>


<div>
  <div style="width:50px; height:50px; background-color:red"></div>
  <div style="width:50px; height:50px; background-color:blue"></div>
  <div style="width:50px; height:50px; background-color:yellow"></div>
</div>

<div>
  <p>This text is black, except for the word <span style="color:red">red</span>!</p>
</div>



<div class="mozna" style="background-color: #666666">
  <!DOCTYPE html>
  <html>
  <head>
    <title>Ye Olde Fancye Booke</title>
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  </head>
  <body>
  <h3>Ye Olde Storye</h3>
  <p><span>A</span> long time ago there was an intrepid young student who wanted to learn CSS...</p>
  </body>
  </html>
</div>



<div class="ladnosci">
  <body>
  <div id="header">
    <div id="navbar">
      <ul>
        <li>Home</li>
        <li>About Me</li>
        <li>Plans for World Domination</li>
        <li>Contact</li>
      </ul>
    </div>
    <h2>About Me</h2>
  </div>
  <div id="left">
    <img src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-main_zps26d178c5.jpg"/>
    <p>I am the angriest puppy in the world. This has been scientifically proven in several clinical trials.</p>
  </div>
  <div id="right">
    <table>
      <th colspan="3">My Bros</th>
      <tr>
        <td><img src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-1_zps5666b8e7.jpg"/></td>
        <td><img src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-2_zps1539e6b2.jpg"/></td>
        <td><img src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-3_zps4692eafa.png"/></td>
      </tr>
      <tr>
        <td><img src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-4_zps63ff5aa8.jpg"/></td>
        <td><img src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-5_zps0ee0d2c8.jpg"/></td>
        <td><img src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-6_zpsc4450a60.jpg"/></td>
      </tr>
      <tr>
        <td><img id="bottom_left" src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-7_zps26e8a8d9.jpg"/></td>
        <td><img src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-8_zps9a1469be.jpg"></td>
        <td><img id="bottom_right" src="http://s3.amazonaws.com/codecademy-blog/assets/puppy-9_zps3bab7732.jpg"/></td>
      </tr>
    </table>
  </div>
  <div id="footer">
    <div id="button">
      <p>Send me an <span class="bold">e-mail</span>!</p>
    </div>
  </div>
  </body>
</div>