<ol>
  <li>Dad's interests
    <ul>
      <li>football</li>
      <li>knitting</li>
    </ul>
  </li>
  <li>Mom's interests
    <ul>
      <li>hating football</li>
      <li>skydiving</li>
    </ul>
  </li>
</ol>

<ol>
  <li> piko w oko </li>
  <li> ala ma kota </li>
</ol>
		