<ol>
  <li>Dad's interests
    <ul>
      <li>football</li>
      <li>knitting</li>
    </ul>
  </li>
  <li>Mom's interests
    <ul>
      <li>hating football</li>
      <li>skydiving</li>
    </ul>
  </li>
</ol>

<ol>
  <li> piko w oko </li>
  <li> ala ma kota </li>
</ol>

<p style="font-size: 10px">
  Alez cudacznie
</p>

<h1 style="color: black; font-size:16px; font-family: Arial">Big Heading</h1>
<p style = "font-size:20px; color: blue; font-family: Arial">A truly spectacular paragraph!</p>

<div style="background-color: brown;">
    <h3>Favorite Football Teams</h3>
    <ol  style="background-color: yellow;">
      <li>The Hawthorn Football Club</li>
      <li>San Franscisco 49ers</li>
      <li>Barcelona FC</li>
    </ol>
</div>

<p>No I don't. I'm <strong>too</strong> busy eating cake.</p>
